* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  color: #444444;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  color: #1b447f;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #1b447f;
}

h3 {
  font-weight: bold;
  font-size: 17px;
  color: #1b447f;
}

p {
  font-size: 17px;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 0.2fr 0.6fr 0.2fr;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  background-color: #ffffff;
}

header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  color: #ffffff;
  background-color: #03a3df;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

header p {
  text-indent: 20px;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

header nav li {
  margin-right: 15px;
  align-items: baseline;
}

header nav a {
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
}

header nav a:hover {
  color: #ecb722;
}

.logo {
  margin-right: 1.5rem;
}

.main {
  grid-column: 2;
  padding: 20px 0;
  display: inline;
}

.main h2 {
  text-align: center;
  margin: 50px;
}

.main h3 {
  text-align: center;
  margin: 25px;
}

.main article {
  margin-bottom: 3em;
}

.main p {
  margin-bottom: 1.75em;
  line-height: 1.75em;
}

footer {
  grid-column: 1 / 4;
  grid-row: 6 / 7;
  color: #ffffff;
  background-image: url("../images/footer-image.jpg");
  padding: 20px 0;
  display: inline;
  line-height: 2em;
  font-size: 10px;
}

footer p {
  text-indent: 3em;
  text-align: left;
  margin-bottom: 1.5em;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

footer a:hover {
  color: #ecb722;
}
