table td, th {
  border: 1px solid #444444;
  padding: 8px;
  vertical-align: middle;
  text-align: center;
}

table th {
  white-space: nowrap;
  background-color: #ecb722;
  font-size: 150%;
}

table td {
  white-space: normal;
  color: #03a3df;
  font-weight: bold;
}

table {
  table-layout: fixed;
  width: 125%;
}

td {
  width: 16.6%;
}

.main ul {
  margin-bottom: 1.75em;
  line-height: 1.75em;
}
