.box {
  height: 300px;
  width: 300px;
  border: 30px solid purple;
  background: yellow;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: pink;
  height: 400px;
  align-items: center;
}
