.box {
  height: 300px;
  width: 300px;
  border: 30px solid purple;
  background: yellow;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: pink;
  height: 400px;
  align-items: center;
}

body {
  font-family: "Times New Roman", Times, serif;
}

footer {
  font-weight: bold;
  font-style: italic;
}

p {
  font-weight: 100;
  font-size: 300%;
}
